# 브라우저(클라이언트 컴포넌트) 에 필요한 값만 NEXT_PUBLIC_

# viewer token
SANITY_SECRET_TOKEN=

# writer token
SANITY_TOKEN=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=

SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=
SANITY_API_VERSION=